.stages{
  width: 1604px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  &__preview{
    width: 400px;
  }

  &__title{
    font-family: 'Literata', sans-serif;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    margin: 0;

    &_span{ 
      display: flex;
      justify-content: space-between;
      width: 700px;
      text-align: center;
      box-sizing: border-box;
      line-height: 1;
      margin: 0 0 24px 0;
      &::before{
        background-image: url('./images/whiteStar.svg');
        background-size: cover;
        width: 25.07px;
        height: 25.07px;
        content: '';
        margin: 20px 0 0 0;
      }
      &::after{
        background-image: url('./images/whiteStar.svg');
        background-size: cover;
        width: 25.07px;
        height: 25.07px;
        content: '';
        margin: 20px 0 0 0;
      }
    }
  }

  &__list{
    margin: 32px 0 0 0;
    padding: 0;
    list-style-type: none;
    counter-reset: my-counter;
  }

  &__item{
    font-family: 'SegoeUI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding: 0 0 0 36px;
    box-sizing: border-box;
    opacity: .5;
    height: 36px;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;

    &::before{
      content: counter(my-counter);
      counter-increment: my-counter;
      margin: 0 25px 0 0;
    }

    &:nth-of-type(10){
      &::before{
        margin: 0 16px 0 0;
      }
    }

    &:nth-of-type(11){
      padding: 0 0 0 36px;
      &::before{
        margin: 0 16px 0 0;
      }
    }

    &:last-of-type{
      margin: 0 0 
    }

    &:hover{
      opacity: 1;
    }

    &_active{
      opacity: 1;
      font-weight: 600;
      border-left: 1px solid rgba(255, 255, 255, 1);
    }
  }

  &__button{
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
    font-family: 'SegoeUI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    transition: all .3s ease-out;

    &_active{
      font-weight: 600;
    }
  }

  &__window{
    width: 1144px;
    background-color: #22312C;
    border-radius: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__star{
    background-image: url('../../images/star.svg');
    background-size: cover;
    width: 114px;
    height: 114px;
    margin: -57px 0 0 0;
    position: relative;
    z-index: 1;
  }

  &__image-border{
    width: 1014px;
    height: 403px;
    margin: 64px 0 0 0;
    overflow: hidden;
    border-radius: 51px;
    display: block;
    position: relative;
  }

  &__image{
    position: relative;
    width: 1016px;
    height: 405px;
    display: block;
  }

  &__subtitle{
    color: #fff;
    opacity: .5;
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0 64px 0;
    width: 900px;
    text-align: center;
  }
}

@media screen and(max-width: 1772px){
  .stages{
    width: calc(100% - 168px);

    &__window{
      width: fit-content;
    }

    &__image-border{
      margin: 64px 64px 0 64px;
      width: 948px;
      height: 377px;
    }

    &__image{
      width: 950px;
      height: 379px;
    }

    &__preview{
      width: 400px;
    }
  }
}

@media screen and(max-width: 1672px){
  .stages{

    &__image-border{
      width: 848px;
      height: 337px;
    }

    &__image{
      width: 850px;
      height: 339px;
    }

    &__subtitle{
      width: 850px;
    }
  }
}

@media screen and(max-width: 1572px){
  .stages{

    &__image-border{
      width: 798px;
      height: 317px;
      margin: 32px 32px 0 32px;
    }

    &__image{
      width: 800px;
      height: 319px;
    }

    &__subtitle{
      width: 800px;
      margin: 8px 0 32px 0;
    }

    &__title{
      &_span{
        width: 600px;

        &::before{
          width: 25.07px;
          min-width: 25.07px;
          height: 25.07px;
        }
        &::after{
          width: 25.07px;
          min-width: 25.07px;
          height: 25.07px;
        }
      }
    }
  }
}

@media screen and(max-width: 1472px){
  .stages{

    &__image-border{
      width: 698px;
      height: 277px;
    }

    &__image{
      width: 700px;
      height: 279px;
    }

    &__subtitle{
      width: 700px;
    }

    &__title{
      &_span{
        width: 550px;
      }
    }
  }
}

@media screen and(max-width: 1360px){
  .stages{
    width: 1224px;
  }
}

@media screen and(max-width: 1272px){
  .stages{

    &__image-border{
      width: 648px;
      height: 257px;
    }

    &__image{
      width: 650px;
      height: 259px;
    }

    &__subtitle{
      width: 650px;
    }
  }
}

@media screen and(max-width: 1266px){
  .stages{
    width: calc(100% - 32px);
  }
}

@media screen and(max-width: 1172px){
  .stages{
    flex-direction: column;

    &__title{
      margin: 0 0 32px 0;
      width: 700px;
    }

    &__preview{
      width: 100%;
      margin: 0 0 32px 0;
    }

    &__list{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      row-gap: 8px;
      column-gap: 32px;
      margin: 0 0 0 8px;
    }

    &__item{
      padding: 0;
      border: none;
      width: max-content;
    }

    &__window{
      width: 100%;
    }

    &__image-border{
      width: calc(100% - 64px);
      height: 39vw;
    }

    &__image{
      width: calc(100% + 2px);
      height: 40vw;
    }
  }
}

@media screen and(max-width: 800px){
  .stages{

    &__list{
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__item{
      padding: 0;
  
      &:nth-of-type(11){
        padding: 0;
      }
    }

    &__title{
      margin: 0 0 32px 0;
      width: 580px;
    }

    &__subtitle{
      width: 600px;
    }
  }
}

@media screen and(max-width: 700px){
  .stages{

    &__title{
      width: 520px;
    }

    &__subtitle{
      width: 520px;
    }
  }
}

@media screen and(max-width: 620px){
  .stages{

    &__title{
      width: 500px;
    }

    &__list{
      grid-auto-flow: row;
    }
  }
}

@media screen and(max-width: 580px){
  .stages{
    display: none;
  }
}



