.content{
  background-color: #152622;
  width: 100%;

  &__banner{
    margin: -120px auto 118px auto;
  }

  &__key{
    margin: 0 auto 118px auto;
  }
  
  &__stages{
    margin: 0 auto 118px auto;
  }

  &__contact{
    margin: 0 auto 110px auto;
  }
}
