.footer{
  width: 100%;
  height: 86px;
  background-color: #22312C;
  
  &__container{
    width: 1604px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &_mobile{
      display: none;
    }
  }

  &__copyright{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.19;
    color: #fff;
    font-weight: 400;

    &_mobile{
      display: none;
    }
  }

  &__link{
    font-family: 'SegoeUI', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    margin: 0 24px 0 0;
    text-decoration: none;
  }

  &__icon{
    width: 45px;
    height: 45px;
  }

  &__social{
    margin: 0 16px 0 0;

    &:last-of-type{
      margin: 0;
    }
  }

  &__info{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and(max-width: 1772px){
  .footer{

    &__container{
      width: calc(100% - 168px);
    } 
  }
}

@media screen and(max-width: 1360px){
  .footer{
    
    &__container{
      width: 1224px;
    }
  }
}

@media screen and(max-width: 1266px){
  .footer{
    
    &__container{
      width: calc(100% - 32px);
    }
  }
}

@media screen and(max-width: 580px){
  .footer{

    &__copyright{
      display: none;

      &_mobile{
        display: block;
      }
    }

    &__container{
      display: flex;
      flex-direction: row;
      justify-content: center;

      &_mobile{
        display: flex;
        height: 80px;
        width: calc(100%);
        background-color: #152622;
        margin: 0;
      }
    }
  }
}